/*
FONTS:
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

*{box-sizing: border-box;}

body{
	color: #666;
	font-family: 'Roboto', sans-serif;
}