/*
FONTS:
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*******************************
* General stylings
********************************/
*{
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	color: white;
	background-color: black;
	text-align: center;
}
/*******************************
* Fieldsets
********************************/
fieldset{
	border:3px solid salmon;
	box-shadow: 0 0 .3rem tomato;
	border-radius: .4rem;
	/*Set the max-width of app and then
	use auto margin to keep it center aligned*/
	max-width: 800px;
	margin: 0 auto;
}

fieldset legend{
	text-align: center;
	background: #333;
	border-radius: .4rem;
	padding: 0 .5rem;
	color: salmon;
	font-family: 'Poppins', sans-serif;
}

#outerLegend{
	font-weight: 600;
	font-size: 2rem;
}

#outerFieldset{
	background-color: #333;
	box-shadow: 0 0 1rem 3px red;
}

#innerFieldset{
	background-color: #555;
	text-align: left;
	padding: 0;
}


/*******************************
* Buttons
********************************/
button{
	background-color: transparent;
	border:none;
	float:right;
}

/*******************************
* Inputs
********************************/
input{
	height:2rem;
	width: 400px;
	float: center;
}

/*******************************
* List Items (li)
********************************/
.delete, .taskLine{
	display: inline;
}

.taskLine{
	margin: 0 2rem;
}

.delete{
	/*float: right;*/
}








